form.form-inline
  .form-group
    textarea.form-control(type="text" placeholder="wanna say ..." ng-model="newtweet.message" style="width: 250px")
  button.btn.btn-default(type="submit" ng-click="addTweet()") Send
