form.form-inline.tweet-form
  .form-group(style="margin-right: 10px")
    textarea.form-control(type="text" placeholder="wanna say ..." ng-model="newtweet.message" style="width: 300px")
  button.btn.btn-default(type="submit" ng-click="addTweet()") Send
